*{
  box-sizing:border-box;
}

body{
  margin:0;
  background:#12131d;
  color:white;
  font-family:Arial;
}

.hidden{
  display:none!important;
}

.login-page{
  min-height:100vh;
  display:grid;
  place-items:center;
  background:radial-gradient(circle at bottom,#312a86,#171824 45%);
}

.oauth-card{
  width:420px;
  background:#2a2d3a;
  border-radius:12px;
  padding:30px;
}

.oauth-icons{
  display:flex;
  justify-content:center;
  align-items:center;
  gap:20px;
}

.app-logo,.user-logo{
  width:70px;
  height:70px;
  border-radius:50%;
  background:#5865f2;
}

.dots{
  color:#666;
}

.permissions{
  margin:20px 0;
}

.oauth-actions{
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:10px;
}

.primary,.secondary{
  border:0;
  padding:14px;
  border-radius:8px;
  color:white;
}

.primary{
  background:#5865f2;
}

.secondary{
  background:#444857;
}

.sidebar{
  position:fixed;
  width:260px;
  top:0;
  left:0;
  bottom:0;
  background:#181a24;
  padding:20px;
}

.nav{
  width:100%;
  background:transparent;
  border:0;
  color:white;
  text-align:left;
  padding:14px;
  margin:5px 0;
  border-radius:8px;
}

.nav.active{
  background:#2a2d3a;
}

.dash-main{
  margin-left:280px;
  padding:40px;
}

.dash-section{
  display:none;
}

.dash-section.active{
  display:block;
}

.card-grid{
  display:grid;
  grid-template-columns:repeat(2,1fr);
  gap:20px;
}

.card,.panel,.security-card,.form-card,.transcript{
  background:#1e2130;
  border:1px solid #2c3147;
  border-radius:12px;
  padding:20px;
}

.security-grid{
  display:grid;
  grid-template-columns:repeat(3,1fr);
  gap:20px;
}

input,textarea,select{
  width:100%;
  background:#2a2d3a;
  border:1px solid #3c425d;
  color:white;
  padding:14px;
  border-radius:8px;
  margin:10px 0;
}

button{
  cursor:pointer;
}

.form-card button{
  width:100%;
  background:#5865f2;
  border:0;
  color:white;
  padding:14px;
  border-radius:8px;
}

@media(max-width:900px){

  .sidebar{
    position:static;
    width:auto;
  }

  .dash-main{
    margin:0;
  }

  .card-grid,
  .security-grid{
    grid-template-columns:1fr;
  }
}
